* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.navbar li a:hover:not(.active) {
  background-color: rgb(16, 140, 172);
  color: white;
}

.navbar .active {
  background-color: rgb(212, 44, 134);
  color: white;
}

.nav-head{
  margin: auto 0;
  padding: 0 1rem;
  color: #14b9cf;
}

.nav-head-icon{
  padding: 0 0.3rem;
}

/* NAVBAR ENDS */


/* MAIN STARTS */
.main{
  min-height: 85vh;
}

.margin-top-1{
  margin-top: 0.5rem;
}
.margin-top-2{
  margin-top: 1rem;
}

.light-text{
  color: rgb(95, 95, 95);
}

.highlight-1{
  color: rgb(180, 38, 38);
  font-weight: bold;
}

.highlight-2{
  color: rgb(16, 97, 172);
  font-weight: bold;
}


/* STARTS */
.container{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-1{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background-color: #1d232e;
  padding: 1.5rem;
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 5px #090f1a;
}

.form-item{
  margin: 0.5rem 0;
}

.input{
  width: 100%;
  outline: none;
  border: none;
  border: 3px solid rgba(17, 134, 163, 0.678);
  box-shadow: 0 0 1rem rgb(82, 82, 82);
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  color: black;
  font-size: 1rem;
}

.input:focus{
  border: 3px solid rgba(109, 17, 163, 0.678);
}

.button{
  border: none;
  outline: none;
  background-color: rgba(17, 134, 163, 0.678);
  color: white;
  transition: 0.4s ease;
  width: 100%;
  margin: auto;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(192, 99, 192);
}


.box-2{
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: #1d232e;
  padding: 1.5rem;
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 5px #090f1a;
}

.small-box-holder{
  width: 100%;
  display: flex;
  gap: 0.6rem;
  margin-top: 0.5rem;
}

.small-box{
  width: calc(100%/4);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 5px rgb(119, 119, 119);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.4s ease;
  background: linear-gradient(#ffffff, #cfcfcf);
}

.small-box:hover{
  background: linear-gradient(#ffffff, #f1d6d6);
}

.icon-holder{
  width: 200px;
}



.small-box-image{
  margin-top: 0.5rem;
  width: 100%;
  height: 40vh;
  margin: auto;
  padding: 1.2rem 0;
}

.image-holder{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Home CSS ENDS */



/* FOOTER */
.footer-inner{
  display: flex;
  background-color: rgb(39, 39, 39);
  color: white;
  padding: 20px;
}

.footer .item{
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .tags{
  padding: 10px 0;
  color: white;
}

.footer .icons{
  display: flex;
  height: 100%;
  align-items: center;
}

.footer .icon{
  padding: 0.5rem 0.7rem;
}

.footer .hover{
  transition: 0.3s ease-in-out;
}

.footer .hover:hover{
  color: rgb(16, 140, 172);
}

.footer .para{
  text-align: center;
}

.footer-down{
  text-align: center;
  padding: 0.5rem;
  background-color: black;
  color: white;
}

.footer-down a{
  color: white;
}

/* FOOTER ENDS */