* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.navbar li a:hover:not(.active) {
  background-color: #177986;
  color: white;
}

.navbar .active {
  background-color: rgb(212, 44, 134);
  color: white;
}

.nav-head{
  margin: auto 0;
  padding: 0 1rem;
  color: #14b9cf;
}

.nav-head-icon{
  padding: 0 0.3rem;
}

/* NAVBAR ENDS */


/* MAIN STARTS */
.main{
  min-height: 85vh;
}



/* HOME CSS */
.flex-container{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.flexbox{
  height: 50vh;
  background-color: rgb(41, 41, 41);
  padding: 3rem;
  border-radius: 20px;
  color: white;
}



/* Home CSS ENDS */



/* FOOTER */
.footer-inner{
  display: flex;
  background-color: rgb(39, 39, 39);
  color: white;
  padding: 20px;
}

.footer .item{
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .tags{
  padding: 10px 0;
  color: white;
}

.footer .icons{
  display: flex;
  height: 100%;
  align-items: center;
}

.footer .icon{
  padding: 0.5rem 0.7rem;
}

.footer .hover{
  transition: 0.3s ease-in-out;
}

.footer .hover:hover{
  color: #199eaf;
}

.footer .para{
  text-align: center;
}

.footer-down{
  text-align: center;
  padding: 0.5rem;
  background-color: black;
  color: white;
}

.footer-down a{
  color: white;
}

/* FOOTER ENDS */